<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="EmployeePath" value="D:\C# AJAX Exam Krinal\Employee\Files\EmployeeData_07_04_2023.json"/>
	</appSettings>
</configuration>


